@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@custom-variant dark (&:where(.dark, .dark *));

@import "@heroui/styles";

section {
    max-width: 1600px;
    padding: 0 20px;
    margin: auto;
}

.dark .dark-bg {
    background-color: #00142c;
}

.dark .secondary-bg {
    background-color: #ff7900;
}

.primary-text {
    color: #ff7900;
}
.text{
    color: #00d3f2;
}
.background{
    background-color: #00d3f2;
}